@import './base.css';

:root {
  --colapsed-margin: 15px 20px 15px 100px !important;
  --not-collapsed-margin: 15px 20px 15px 315px;
}

#main {
  margin: var(--colapsed-margin);
  transition: all 0.25s ease-out;
}

.collapsed {
  transition: all 0.1s ease-out;
  margin: var(--not-collapsed-margin) !important;
}

.v-sidebar-menu .vsm--link_level-1 .vsm--icon {
  background-color: transparent !important;
}
.v-sidebar-menu .vsm--arrow {
  background: linear-gradient(90deg, rgba(109,233,181,1) 0%, rgba(133,76,255,1) 100%);
}

.v-sidebar-menu .vsm--link_mobile, .v-sidebar-menu .vsm--mobile-bg, .v-sidebar-menu .vsm--toggle-btn {
  background: linear-gradient(90deg, rgba(109,233,181,1) 0%, rgba(133,76,255,1) 100%);
}

.v-sidebar-menu .vsm--link_level-1.vsm--link_active {
  -webkit-box-shadow: inset 3px 0 0 0 rgba(109,233,181,1) !important;
  box-shadow: inset 3px 0 0 0 rgba(109,233,181,1) !important;
}

.v-sidebar-menu .vsm--arrow, .v-sidebar-menu .vsm--arrow_open {
  transition: all 1s ease-out;
}

.character-card {
  width: 300px !important;
  height: 300px !important;
  border-radius: 20px !important;
  border: 1px solid #ccc;
}

.character-trope-card {
  width: 100px;
  background-color: #adb5bd;
}

.card-img-overlay {
  position: absolute;
  bottom: 5px;
}

.character-trope-img {
  height: 189.5px;
}